.resume_full_container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(4, 5, 5), rgb(14, 9, 9)); /* /* colour of sidebar */
  margin-left: 0px;
  z-index: -20;
}

.container {
  position: relative;
  width: 79%;
  min-height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 18%;
}

.content {
  width: 100%;
  margin-top: 75px;
  margin-left: 1%;
  color: rgb(233, 92, 92);
}

.resume {
  position: relative;
}
.resume h2 {
  font-weight: 700;
  margin-bottom: 100px;

}
.resume h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 43px;
  bottom: 0;
  height: 5px;
  width: 100px;
  background: rgba(3, 127, 255, 0.3);
  border-radius: 100px;
}
.resume h2::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 43px;
  width: 49px;
  height: 5px;
  background: #037fff;
}
.resume span {
  position: absolute;
  left: 0;
  top: -19%;
  font-size: 4.5rem;
  color: rgba(255, 255, 255, 0.685);
  text-transform: uppercase;
  font-weight: 900;
  z-index: -10;
}

.downloadCV button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.downloadCV button:hover {
  background-color: darkblue;
  cursor: pointer;
}

@media (max-width: 500px) {
  .resume_full_container{
    position: absolute;
    margin-left: 0%;
    min-width: 100%;
  }  
  .container {
    max-width: 90%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .resume span {
    font-size: 2.7rem;
    top: 46%;
  }
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 700px) {
  .resume_full_container{
    position: absolute;
    margin-left: 0%;
    min-width: 100%;
  }  
  .container {
    max-width: 93%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;

  }
  .resume span {
    font-size: 2.7rem;
    top: 46%;
  }
  body {
    overflow-x: hidden;
  }  
}
@media (max-width: 1000px) {
  .resume_full_container{
    position: absolute;
    margin-left: 0%;
    min-width: 100%;
  }  
  .container {
    width: 90% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 5px !important;

  }
  .resume span {
    font-size: 2.7rem;
    top: 46%;
  }
  body {
    overflow-x: hidden;
  }
}
