.style {
  margin-top: 6%;
  margin-bottom: 2%;    
    color: yellow;
}

@media (max-width: 500px) {
    .style {
      margin-top: 90px;
      margin-bottom: 30px;
      color: yellow
    }
  }
  @media (max-width: 700px) {
    .style {
      margin-top: 90px;
      margin-bottom: 30px;       
      color: yellow
    }
  }
  @media (max-width: 1000px) {
    .style {
        margin-top: 90px;
        margin-bottom: 30px;
        color: yellow
    }
  }