.input {
  background-color: rgb(188, 218, 228) !important;
  border: 1px solid #2e344e !important;
  
}

.label_astrix::after {
  content: "*";
  color: red;
}

.input:focus {
  box-shadow: 0 0 0 0.1rem rgb(164, 172, 196) !important;
}

label {
  color: antiquewhite;
}

