body {
  overflow-x: hidden;
}

.contact_full_container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(4, 5, 5), rgb(14, 9, 9)); /* /* colour of sidebar */
  margin-left: 0px;
  z-index: -20;
}

.container {
  position: relative;
  width: 79%;
  min-height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 18%;
}

.content {
  width: 100%;
  margin-left: 1%;
  margin-top: 75px;
  color: white;
}

div.contact_form {
  position: relative;
}



@media (max-width: 500px) {
  .contact_full_container{
    position: absolute;
    margin-left: 0%;
    min-width: 100%;
    min-height: 100%;
  }    
  .container {
    width: 87% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 5px !important;
    
  }
}
@media (max-width: 700px) {
  .contact_full_container{
    position: absolute;
    margin-left: 0%;
    min-width: 100%;
    min-height: 100%;
  }    
  .container {
    width: 90% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 5px !important;
    
  }
}
@media (max-width: 1000px) {
  .contact_full_container{
    position: absolute;
    margin-left: 0%;
    min-width: 100%;
    min-height: 100%;
  }    
  .container {
    width: 90% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 5px !important;
    
  }
}
