.profile {
  display: flex;
  align-items: center; /* vertical position */
  justify-content: center; /* horizontal position */
  width: 100%; /* width of div for profile pic */
  height: 35%; /* height of div for profile pic */
  border-bottom: 2px solid rgb(162, 255, 182);
}

.profile img { /* applies to img tags that are in a div that has class .profile???????? */
  width: 70%; /* width of the image */
  height: 70%; /* height of the image */
  border-radius: 50%; /* the higher the more round */
  border: 3px solid #ffffff;/* border of the image */
}

.profile img:hover { /* applies to img tags that are in a div that has class .profile???????? */
  animation: beat .25s infinite alternate
}

@keyframes beat{
	to { transform: scale(1.1); }
}

@media (max-width: 500px) {
  .profile img { /* applies to img tags that are in a div that has class .profile???????? */
    width: 220px; /* width of the image */
    height: 220px; /* height of the image */
  }
}
@media (max-width: 700px) {
  .profile img { /* applies to img tags that are in a div that has class .profile???????? */
    width: 220px; /* width of the image */
    height: 220px; /* height of the image */
  }  
}
@media (max-width: 1000px) {
  .profile img { /* applies to img tags that are in a div that has class .profile???????? */
    width: 220px; /* width of the image */
    height: 220px; /* height of the image */
  }
}

@media (max-width: 1200px) {
  .profile img { /* applies to img tags that are in a div that has class .profile???????? */
    width: 160px; /* width of the image */
    height: 220px; /* height of the image */
  }
}

@media (max-height: 700px) {
  .profile img { /* applies to img tags that are in a div that has class .profile???????? */
    width: 45%; /* width of the image */
    height: 60%; /* height of the image */
  }
}

@media (max-height: 400px) {
  .profile img { /* applies to img tags that are in a div that has class .profile???????? */
    width: 25%; /* width of the image */
    height: 70%; /* height of the image */
  }
}





  