.projects_full_container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(4, 5, 5), rgb(14, 9, 9)); /* /* colour of sidebar */
  margin-left: 0px;
  z-index: -20;
}

.container {
  position: relative;
  width: 79%;
  min-height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 18%;
}

.content {
  width: 100%;
  margin-left: 1%;
  margin-top: 75px;
  color: rgb(233, 92, 92);
}
.projects {
  position: relative;
}
.projects h2 {
  font-weight: 700;
  margin-bottom: 100px;
}
.projects h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 43px;
  bottom: 0;
  height: 5px;
  width: 100px;
  background: rgba(3, 127, 255, 0.3);
  border-radius: 100px;
}
.projects h2::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 43px;
  width: 49px;
  height: 5px;
  background: #037fff;
}
.projects span {
  position: absolute;
  left: 0;
  top: -19%;
  font-size: 4.5rem;
  color: rgba(255, 255, 255, 0.685);
  text-transform: uppercase;
  font-weight: 900;
  z-index: -10;
}


@media (max-width: 500px) {
  .container {
    width: 87% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 5px !important;
  }
  .projects span {
    font-size: 2.5rem;
    top: 46%;
  }
}
@media (max-width: 700px) {
  .container {
    width: 87% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 5px !important;
  }
  .projects span {
    font-size: 2.5rem;
    top: 46%;
  }
}
@media (max-width: 1000px) {
  .projects_full_container{
    position: absolute;
    margin-left: 0%;
    min-width: 100%;
  }    
  .container {
    width: 90% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: 5px !important;
  }
  .projects span {
    font-size: 2.5rem;
    top: 46%;
  }
}
