.Content {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh; /* 100% of the viewport's height */
    background: #ffffff;
    border-left: 1px solid #4e2e2e;
    z-index: -1;
    transition: all 0.4s ease-out;
  }

  .ContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* vertical adjustment */
    justify-content: center; /* horizontal adjustment */
  }
  