.title {
    margin: 10px;
}

.myname {
    color: #037fff;
}

b {
    font-size: 70px;
}


@media (max-width: 700px) {
    b {
        font-size: 50px;
    }
  }
  @media (max-width: 1000px) {
    b {
        font-size: 50px;
    }
  }

  @media (max-width: 1500px) and (min-width: 1001px) {
    b {
        font-size: 50px;
    }
  }