body {
  margin: 0;
  padding: 0;
}

.form_style{
  padding-bottom: 40px;
}

.input {
  border: 1px solid #2e344e !important;
  border-radius: 5px;
  width: 700px; /* Adjust the value as needed */
  min-height: 30px;
  background-color: rgb(205, 231, 240) !important;
}

.input::placeholder {
  font-size: 16px; /* Adjust the value as needed */
}

.label_astrix::after {
  content: "*";
  color: red;
}

.input:focus {
  box-shadow: 0 0 0 0.1rem rgb(77, 114, 224) !important;
}

label {
  color: antiquewhite;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.submitButton {
  margin-bottom: 2%;
  margin-top: 20px;
}

.submitButton button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.submitButton button:hover {
  background-color: darkblue;
  cursor: pointer;
}


@media (max-width: 500px) {
  .submitButton {
    margin-bottom: 0%;
  }
  .input {
    width: 97%;
  }  
}
@media (max-width: 700px) {
  .submitButton {
    margin-bottom: 0%;
  }
  .input {
    width: 97%;
  }    
}
@media (max-width: 1000px) {
  .submitButton {
    margin-bottom: 0%;
  }
  .input {
    width: 97%;
  }  
  .input::placeholder {
    font-size: 14.5px; /* Adjust the value as needed */
  }    
}

