.sidebar {
    position: absolute; /* according to its 1st parent */
    width: 20vw; /* 20% of the viewport's width */
    height: 100vh; /* 100% of the viewport's height */
    background: #fcfcfc;
    border-right: 1px solid #597be9;
    z-index: 1;
    transition: all 0.4s ease-out;
  }
 
  .grid-sidebar{
    display: grid;
    grid-template-rows: 40% 60%;
  }

  .grid-sidebar div:nth-child(even) {
    background-color: blue;
  }
  
  .grid-sidebar div:nth-child(odd) {
    background-color: black;
  }

  .style {
    padding: 10%;
  }