.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100vh; /* 100% of the viewport's height */
    background: #191d2b;
    border-right: 1px solid #4e2e2e;
    z-index: 10;
    transition: all 0.4s ease-out;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* vertical adjustment */
    justify-content: center; /* horizontal adjustment */
  }

