.profile {
  display: flex;
  align-items: center; /* vertical position */
  justify-content: center; /* horizontal position */
  width: 100%; /* width of div for profile pic */
  height: 35%; /* height of div for profile pic */
  border-bottom: 3px solid #ffffff;
}

.profile img { /* applies to img tags that are in a div that has class .profile???????? */
  width: 170px; /* width of the image */
  height: 170px; /* height of the image */
  border-radius: 5%; /* the higher the more round */
  border: 3px solid #ffffff;/* border of the image */
}




  