.profile {
  display: flex;
  align-items: center; /* vertical position */
  justify-content: center; /* horizontal position */
  width: 100%; /* width of div for profile pic */
  height: 35%; /* height of div for profile pic */
  border-bottom: 3px solid #2e344e;
  padding: 1px;
}

.profile img { /* applies to img tags that are in a div that has class .profile???????? */
  width: 70%; /* width of the image */
  height: 70%; /* height of the image */
  border-radius: 20%; /* the higher the more round */
  border: 3px solid #2e344e; /* border of the image */
}
