.profile {
  display: flex;
  align-items: center; /* vertical position */
  justify-content: center; /* horizontal position */
  width: 100%; /* width of div for profile pic */
  height: 35%; /* height of div for profile pic */
  border-bottom: 3px solid #2e344e;
}

.profile img { /* applies to img tags that are in a div that has class .profile???????? */
  width: 150px; /* width of the image */
  height: 150px; /* height of the image */
  border-radius: 20%; /* the higher the more round */
  border: 0.35rem solid #2e344e; /* border of the image */
}




  
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35%;
  border-bottom: 1px solid #2e344e;
}
.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 0.35rem solid #a4acc4;
}