.button_style{
  margin-bottom: 4px; /* the menu-icon needed to be shifted up */
}

.hamburger {
    position: absolute; /* the element is positioned absolutely to its first positioned parent */
    top: 31px; /* position from the top */
    left: 100%; /* position to the left */
    width: 45px; /* width of button */
    height: 45px; /* height of button */
    font-size: 30px; /* size of button */
    border: 2px solid rgb(162, 255, 182); /* border of button */
    display: none; /* hide the button */
    padding-top: 3.5px;
  }
  .hamburger:focus {
    outline: none; /* focus = your last click */
  }
  
  @media (max-width: 500px) {
    .hamburger {
      display: block; /* display the button block = underneath*/
    }
  }
  @media (max-width: 700px) {
    .hamburger {
      display: block; /* display the button block = underneath*/
    }
  }
  @media (max-width: 1000px) {
    .hamburger {
      display: block; /* display the button block = underneath*/
    }
  }