.sm-icons a{
    display: inline-flex;
    width: 3.125em;
    height: 3.125em;
    border-radius: 20%;
    border: 0.125em solid #2e344e;
    margin: 1em;
    align-items: center; /* vertical adjustment */
    justify-content: center; /* horizontal adjustment */
    z-index: 1;
  }
  
  .sm-icons:hover {
    color: rgb(162, 255, 182);
  }

  